html,
body {
  overflow-x: hidden;
}

header {
  background-image: none;
  height: 10vh;
}

.main-nav li {
  display: inline-block;
  margin-left: 35px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 6px 0;
  color: black;
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: color 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active {
  /*
      border-bottom: 2px solid #1e90ff;
  */
  color: #70a1ff;
}

/* --------------------------------- */
/* Section: About me */
/* --------------------------------- */

.about-me {
  min-height: 80vh;
  word-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 0;
}
.about-me h2 {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: px 0;
  text-align: left;
  font-weight: 200;
}

.about-me p {
  font-size: 80%;
  font-weight: 400;
  line-height: 155%;
  margin-bottom: 10px;
  margin-right: 40px;
}

.about-me img {
  height: 60vh;
  width: auto;
}

.about-me ion-icon {
  font-size: 200%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#contact-link {
  text-decoration: none;
  color: #70a1ff;
}

footer {
  background-color: rgb(36, 36, 36);
  padding: 20px;
  font-size: 80%;
  margin: auto;
}
