/* Big tablet to 1200px widths smaller than the 1140px row*/
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }

  .about-me {
    margin-bottom: 0;
  }

  .about-me img {
    height: 50vh;
    width: auto;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-me p {
    font-size: 85%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    line-height: 160%;
  }

  p:first-child {
    margin-top: 0px;
  }

  .logo {
    height: 25px;
  }


}

/* Ipad in portrait mode from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  .row {
    padding: 0 2%;
  }
  .col {
    width: 100%;
    margin: 0 0 1% 0;
  }

  .about-me img {
    height: 75vh;
    width: auto;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-links {
    width: 50%;
  }
  .nav-links a {
    font-size: 80%;
  }
  .logo {
    height: 25px;
  }
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {
 
  section {
    padding: 30px 0;
  }

  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  .row,
  .hero-text-box {
    padding: 0 2%;
  }
  .col {
    width: 100%;
    margin: 0 0 1% 0;
  }

  .about-me {
    padding: 0;
  }

  .about-me p {
    font-size: 85%;
    margin-top: 0px;
    margin-bottom: 25px;
    line-height: 160%;
  }

body{
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}
.nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 8vh;
    background-color: rgba(22, 22, 22, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.nav-links li {
    opacity: 0;
}

.nav-links a:link,
.nav-links a:visited {
  font-size: 90%;
  color: #fff;
  font-size: 90%;
  text-decoration: none;
  transition: color 0.4s;
}


.burger{
    display: block;
  
}

.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
}

/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
  .about-me img {
    padding: 0;
    display: block;
    height: 50vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
