html,
body {
  overflow-x: hidden;
}

header {
  height: auto;
  background-image: none;
}

.navlogo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around; 
  width: 35%;
}

.nav-links a:link,
.nav-links a:visited {
  color: black;
  font-size: 90%;
  text-decoration: none;
  transition: color 0.4s;
}

.nav-links a:hover,
.nav-links a:active {
  color:#70a1ff;
}

.nav-links li {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  margin-left: 10px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

nav {
  width: 100%;
}

/* --------------------------------- */
/* Section: About me */
/* --------------------------------- */

.about-me {
  margin-top: 30px;
  display: block;
  word-spacing: 1px;
  margin-bottom: 0;
}
.about-me h2 {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: px 0;
  text-align: left;
  font-weight: 200;
}

.about-me p {
  font-size: 80%;
  font-weight: 400;
  line-height: 155%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 100px;
}

.about-me img {
  padding-left: 40px;
  height: 60vh;
  margin-left: 100px;
  width: auto;
}

.about-me ion-icon {
  font-size: 200%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#contact-link {
  text-decoration: none;
  color: #70a1ff;
}


.footer-icon {
  font-size: 120%;
  color: black;
    /* to align icons */
  vertical-align: bottom;
}


#instagram {
  transition: color 0.2s;
}


#instagram:hover {
  color: #70a1ff;
}