/* Big tablet to 1200px widths smaller than the 1140px row*/
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 4%;
  }
  .main-nav {
    padding: 0 5%;
    margin-left: 25px;
  }

  .about-me {
    margin-bottom: 0;
  }

  .about-me img {
    height: 50vh;
    width: auto;
  }

  .about-me p {
    font-size: 85%;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 160%;
  }

  p:first-child {
    margin-top: 0px;
  }

  .logo {
    height: 40px;
  }
}

/* Ipad in portrait mode from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  .logo {
    height: 50px;
  }

  .hero-text-box {
    width: 100vw;
    padding: 0 2%;
  }

  header {
    background-size: cover;
    background-position: center;
    height: 10vh;
  }

  .row {
    padding: 0 4%;
  }
  .col {
    width: 100%;
    margin: 0 0 1% 0;
  }
  .main-nav {
    padding: 0 5%;
  }

  .main-nav li {
    margin-left: 20px;
    font-size: 110%;
  }
  .about-me {
    min-height: 70vh;
  }
  .about-me img {
    height: 55vh;
    width: auto;
  }

  .social-nav {
    margin-top: 0px;
  }

  footer {
    padding: 10px;
    height: 15vh;
  }
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {
  header {
    height: 10vh;
  }

  .main-nav,
  .logo,
  footer {
    display: none;
  }
}

/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
  .about-me img {
    height: 40vh;
    width: auto;
  }
}
