/* Big tablet to 1200px widths smaller than the 1140px row*/
@media only screen and (max-width: 1200px) {
  .row {
    padding: 0 2%;
  }

  .landscape-showcase li,
  .portrait-showcase li,
  .wildlife-showcase li {
    width: 50%;
  }

  .section-portrait,
  .section-landscape,
  .section-wildlife {
    margin: 5px 0;
  }

  .portrait-heading,
  .landscape-heading,
  .wildlife-heading {
    margin: 20px 0;
  }

  .logo {
    height: 25px;
  }

  h2 {
    font-size: 120%;
  }

  .nav-links {
    width: 50%;
  }

}

/* Ipad in portrait mode from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  .row {
    margin-top: 20px;
    padding: 0 2%;
  }
  .col {
    width: 100%;
    margin: 0 0 1% 0;
  }

  .nav-links {
    width: 50%;
  }
  .nav-links a {
    font-size: 80%;
  }
  .logo {
    height: 25px;
  }

  .landscape-showcase li,
  .portrait-showcase li {
    width: 50%;
  }

  h2 {
    font-size: 120%;
  }
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {


  .landscape-showcase li,
  .portrait-showcase li,
  .wildlife-showcase li {
    width: 50%;
  }

  .portrait-heading,
  .landscape-heading,
  .wildlife-heading {
    font-size: 100%;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 80vh;
    top: 8vh;
    background-color: rgba(22, 22, 22, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    justify-content: space-around;
}

.nav-links li {
    opacity: 0;
 
}

.nav-links a:link,
.nav-links a:visited {
  font-size: 90%;
  color: #fff;
  font-size: 90%;
  text-decoration: none;
  transition: color 0.4s;
}


.burger{
    display: block;
    margin-right: 10px;
  
}

.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

}

/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
  .landscape-showcase li,
  .portrait-showcase li,
  .wildlife-showcase li {
    width: 100%;
  }

  .portrait-heading,
  .landscape-heading,
  .wildlife-heading {
    margin: 20px 0;
    font-size: 85%;
  }

  .row {
    margin-top: 0;
    padding: 0 5%;
  }
}
