header {
    background-image: none;
    height: 10vh;
  }

  html, body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }



  
  .navlogo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 10px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
  }
  
  .nav-links a:link,
  .nav-links a:visited {
    color: black;
    font-size: 90%;
    text-decoration: none;
    transition: color 0.4s;
  }
  
  .nav-links a:hover,
  .nav-links a:active {
    color:#70a1ff;
  }
  
  .nav-links li {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    margin-left: 10px;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
  }

  nav {
    position: relative;
    z-index: 10;
  }




  
  
  /* --------------------------------- */
  /* Section: Introduction */
  /* --------------------------------- */

    /* --------------------------------- */
  /* Section: Landscape */
  /* --------------------------------- */
.section-landscape {
    margin-top: 50px;
}

.landscape-heading {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}

.landscape-showcase {
    list-style: none;
    width: 100%;
    background-color: #f4f4f4;;
    
}

.landscape-showcase li {
    width: 50%;
    display: block;
    float: left;
}

.landscape-photo {
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    
}

.landscape-photo img {
  opacity: 0.70;
    width: 100%;
    height: auto;
    transform: scale(0.98);
    transition: transform 0.5s, opacity 0.5s;
    
}

.landscape-photo img:hover {
  transform: scale(1.02);
  opacity: 1.00;
}

    /* --------------------------------- */
  /* Section: Portraits */
  /* --------------------------------- */

  .section-portrait {
    margin-top: 50px;
    
}


.portrait-heading {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
 
  
}
.portrait-showcase {
    list-style: none;
    width: 100%;
    
    
}

.section-portrait li::after {
  display: block;
  height: 2px;
  content: " ";

}

.portrait-showcase li {
    width: 50%;
    display: block;
    float: left;
    background-color: white;
}

.portrait-photo {
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    
}

.portrait-photo img {
  opacity: 0.70;
    width: 100%;
    height: auto;
    transform: scale(0.98);
    transition: transform 0.5s, opacity 0.5s;
    
}

.portrait-photo img:hover {
  transform: scale(1.02);
  opacity: 1.00;
}

.section-wildlife {
  margin-top: 50px;
}

.wildlife-heading {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
 
  
}
.wildlife-showcase {
    list-style: none;
    width: 100%;
    
    
}

.section-wildlife li::after {
  display: block;
  height: 2px;
  content: " ";

}

.wildlife-showcase li {
    width: 50%;
    display: block;
    float: left;
    background-color: #f4f4f4;
}

.wildlife-photo {
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
       
}

.wildlife-photo img {
  opacity: 0.70;
    width: 100%;
    height: auto;
    transform: scale(0.98);
    transition: transform 0.5s, opacity 0.5s;
    
}

.wildlife-photo img:hover {
  transform: scale(1.02);
  opacity: 1.00;
}