header {
    background-image: none;
    height: 10vh;
  }
  
  .main-nav li {
    display: inline-block;
    margin-left: 35px;
  }
  
  .main-nav li a:link,
  .main-nav li a:visited {
    padding: 6px 0;
    color: black;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: color 0.4s;
  }
  
  .main-nav li a:hover,
  .main-nav li a:active {
    /*
        border-bottom: 2px solid #1e90ff;
    */
    color: #70a1ff;
  }
  
  /* --------------------------------- */
  /* Section: Introduction */
  /* --------------------------------- */

    /* --------------------------------- */
  /* Section: Landscape */
  /* --------------------------------- */
.section-landscape {
    margin-top: 50px;
}
.landscape-showcase {
    list-style: none;
    width: 100%;
    
}

.landscape-showcase li {
    width: 25%;
    display: block;
    float: left;
}

.landscape-photo {
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    
}

.landscape-photo img {
  opacity: 0.70;
    width: 100%;
    height: auto;
    transform: scale(0.98);
    transition: transform 0.5s, opacity 0.5s;
    
}

.landscape-photo img:hover {
  transform: scale(1.02);
  opacity: 1.00;
}

    /* --------------------------------- */
  /* Section: Portraits */
  /* --------------------------------- */