/* Big tablet to 1200px widths smaller than the 1140px row*/
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }

  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/Portfolio/Resources/CSS/IMAGES/Wildlife/buffalo2-bw-large.jpg);
  }

}

/* Ipad in portrait mode from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  .row {
    padding: 0 2%;
  }

  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/Portfolio/Resources/CSS/IMAGES/Wildlife/buffalo2-bw-large.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }


}

/* Small phones to small tablets from 481px to 767px 
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  .row,
  .hero-text-box {
    padding: 0 2%;
  }
  .col {
    width: 100%;
    margin: 0 0 1% 0;
  }
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/Resources/CSS/IMAGES/Wildlife/buffalo2-bw-large.jpg);
    background-size: cover;
  }

  .main-nav {
    display: none;
  }

  .logo {
    margin-top: 10px;
    height: 25px;
  }

  
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: black;
    display: none;
    transition: height 0.3s;
  }

  nav .mainMenu {
    position: absolute;
    top: 20px;
    right: 0;
  
  }

  .menuClose {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menuOpen a {
    color: #fff;
  }

  nav .menuOpen {
    display: block;
    position: absolute;
    top: 10px;
    right: 25px;
  }

  nav .mainMenu li a:hover,
  nav .mainMenu li a:active {
    display: inline-block;
    
  }

}

 Small phones from 0 to 480px 
@media only screen and (max-width: 480px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/Resources/CSS/IMAGES/Wildlife/buffalo2-bw-small.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .logo {
    margin-top: 15px;
    height: 20px;
  }

  .main-nav {
    display: none;
    margin-top: 0;
    font-size: 90%;
   }
 
   .main-nav li {
     display: block;
     margin: 10px 0;
   }
 
  .social-nav {
    margin-top: 15px;
    margin-right: 10px;
  }

  nav .mainMenu {
    height: 100vh;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: black;
    display: none;
  }

  nav .mainMenu {
    position: absolute;
    top: 20px;
    right: 0;
  
  }

  .menuClose {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menuOpen a {
    color: #fff;
  }

  nav .menuOpen {
    display: block;
    position: absolute;
    top: 10px;
    right: 25px;
  }

  nav .mainMenu li a:hover,
  nav .mainMenu li a:active {
    display: inline-block;
    
  }



}
*/
