/* Blue color:  #1e90ff; */

/* --------------------------------- */
/* BASIC SETUP */
/* --------------------------------- */
body {
  height: 100%;
  position: relative;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  background-color: #fff;
  color: rgb(54, 54, 54);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* --------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------- */

.row {
  max-width: 1140x;
  margin: 0 auto;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 200;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --------------------------------- */
/* HEADER */
/* --------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../IMAGES/Wildlife/buffalo-bw.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  position: relative;
  height: 30px;
  width: auto;
  float: left;
  margin-top: 0;
  vertical-align: bottom;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;

}

.navlogo {
  color: rgb(235, 233, 233);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between; 
  width: 35%;
}

.nav-links a:link,
.nav-links a:visited {
  color: #fff;
  font-size: 90%;
  text-decoration: none;
  transition: color 0.4s;
}

.nav-links a:hover,
.nav-links a:active {
  color:#70a1ff;
}

.nav-links li {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  margin-left: 10px;
}

.nav-links li:last-child {
  margin-right: 10px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

/*
nav li a:link,
nav li a:visited {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
}


nav li a:hover,
nav li a:active {
  /*
    border-bottom: 2px solid #1e90ff;

  color: #70a1ff;
}
*/




/* Main Nav */

/*
.main-nav {
  margin-top: 40px;
  float: right;
}

.main-nav li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  margin-left: 10px;
}

.main-nav li a:link,
.main-nav li a:visited,
.mainMenu li a:link,
.mainMenu li a:visited {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active,
.mainMenu li a:hover,
.mainMenu li a:active {
  /*
    border-bottom: 2px solid #1e90ff;

  color: #70a1ff;
}

*/



/* Sticky Nav 
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.904);
}

.sticky .main-nav li a:link,
.main-nav li a:visited {
  padding: 6px 0;
  color: #555;

}
*/


/* --------------------------------- */
/* BUTTONS */
/* --------------------------------- */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 200;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.3s;
}

.btn-primary:link,
.btn-primary:visited {
  background-color: #70a1ff;
  border: 1px solid #70a1ff;
}

.btn:hover,
.btn:active {
  background-color: #587ec7;
}

/* --------------------------------- */
/* Section: Landscape */
/* --------------------------------- */

.landscape h2 {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: px 0;
  text-align: left;
  font-weight: 200;
}


.landscape img {
  height: 66vh;
  width: auto;
}


.clearfix {
  zoom: 1;
}


.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}


.footer-icon {
  font-size: 120%;
  color: #fff;
    /* to align icons */
  vertical-align: bottom;

}


#instagram {
  transition: color 0.2s;
}


#instagram:hover {
  color: #70a1ff;
}

/* --------------------------------- */
/* FOOTER NOT IN USE*/
/* --------------------------------- */
/*
footer {
  background-color: rgb(27, 27, 27);
  height: 10vh;
}
.social-nav {
  list-style: none;
  float: right;
}

.social-nav li {
  display: inline-block;
  margin-right: 20px;
}

.social-nav li:last-child {
  margin-right: 0;
}

.social-nav li a:link,
.social-nav li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

#facebook,
#twitter,
#linkedin,
#instagram {
  transition: color 0.2s;
}

#facebook:hover {
  color: #3b5998;
}

#twitter:hover {
  color: #00aced;
}

#linkedin:hover {
  color: #0e76a8;
}
*/


/* --------------------------------- */
/* Section: About me */
/* --------------------------------- */

.about-me {
  margin-top: 100px;
  display: block;
  word-spacing: 1px;
  margin-bottom: 0;
}
.about-me h2 {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: px 0;
  text-align: left;
  font-weight: 200;
}

.about-me p {
  font-size: 80%;
  font-weight: 400;
  line-height: 155%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 100px;
}

.about-me img {
  padding-left: 40px;
  height: 65vh;
  margin-left: 100px;
  width: auto;
}

.about-me ion-icon {
  font-size: 200%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#contact-link {
  text-decoration: none;
  color: #70a1ff;
}
